<header>
  <div class="container">
    <div class="logo">
      <a routerLink="/home"><img id="logo" src="assets/LogoV1.png" alt="stud_guide_logo"></a>
    </div>
    <div class="search">
      <input [(ngModel)]= "searchText" type="text" placeholder="Search...">
      <button  type="submit"><i class="fa fa-search"></i></button>
      <!-- <button  (click)="search(searchText)" type="submit"><i class="fa fa-search"></i></button> -->
    </div>

    <div *ngIf="!login()" class="login">
      <a routerLink="/login"><button id="sign_in_btn"><i class="fa fa-lock"></i><a href="#">Sign in</a></button></a>
      <a routerLink="/signUp"><button id="sign_up_btn"><i class="fa fa-lock"></i><a href="#">Sign up</a></button></a>
    </div>
    <div *ngIf="login()" class="logout">
      <a (click)="logout()"><button id="log_out_btn"><i class="fa fa-lock"></i><a href="#">Log out</a></button></a>
    </div>
  </div>

  <nav class="main_nav">
    <div>
      <ul>
        <li>
          <a routerLink="/home">Home</a>
        </li>
        <li>
          <a routerLink="/about">About us</a>
        </li>
        <li>
          <a routerLink="/categories">All</a>
        </li>
        <!-- <li>
          <a routerLink="/add">Publish</a>
        </li> -->
      </ul>
    </div>
    <app-category></app-category>
  </nav>
</header>

<router-outlet></router-outlet>
<footer>
  <div>
    <ul>
      <li>
        <a routerLink="/home">Home</a>
      </li>
      <li>
        <a routerLink="/about">About us</a>
      </li>
      <li>
        <a routerLink="#">All</a>
      </li>
    </ul>
  </div>
  
  <div class="contact">
    <p>Contact us</p>
    <a href="#"><i class="fa fa-envelope" style="color: white;"></i></a>
    <a href="#"><i class="fa fa-telegram" style="color: white;"></i></a>
    <a href="#"><i class="fa fa-whatsapp" style="color: white;"></i></a>
  </div>
</footer>

