<header>
  <div class="container">
    <div class="logo">
      <a routerLink="/home"><img id="logo" src="assets/LogoV1.png" alt="stud_guide_logo"></a>
    </div>
    <div class="search">
      <input [(ngModel)]= "searchText" type="text" placeholder="Search...">
      <button  type="submit"><i class="fa fa-search"></i></button>
      <!-- <button  (click)="search(searchText)" type="submit"><i class="fa fa-search"></i></button> -->
    </div>

    <div *ngIf="!login()" class="login">
      <a routerLink="/login"><button id="sign_in_btn"><i class="fa fa-lock"></i><a href="#">Sign in</a></button></a>
      <a routerLink="/signUp"><button id="sign_up_btn"><i class="fa fa-lock"></i><a href="#">Sign up</a></button></a>
    </div>
    <div *ngIf="login()" class="logout">
      <a (click)="logout()"><button id="log_out_btn"><i class="fa fa-lock"></i><a href="#">Log out</a></button></a>
    </div>
  </div>

  <nav class="main_nav">
    <div>
      <ul>
        <li>
          <a routerLink="/home">Home</a>
        </li>
        <li>
          <a routerLink="/about">About us</a>
        </li>
        <li>
          <a routerLink="/categories">All</a>
        </li>
        <li>
          <a routerLink="/courses">Courses</a>
        </li>
        <!-- <li>
          <a routerLink="/add">Publish</a>
        </li> -->
      </ul>
    </div>
    <app-category></app-category>
  </nav>
</header>

<div class="middle">
  <router-outlet></router-outlet>
</div>


<footer>
  <div class="footer-content">
    <div class="footer-section about">
      <img id="footer-logo" src="assets/LogoV1.png" alt="stud_guide_logo" style="width: 60%">
      <p>This is a student news portal, where useful articles will be published not only about studying,
        but also discounts, promotions, ads about entertainment, food, sports, etc.</p>

      <div class="contacts">
        <span> <i class="fa fa-phone"></i> &nbsp; 123-456-789</span>
        <span> <i class="fa fa-envelope"></i> &nbsp; stud_guide@gmail.com</span>
      </div>

      <div class="links">
        <a href="#"><i class="fa fa-telegram"></i></a>
        <a href="#"><i class="fa fa-whatsapp" ></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
      </div>
    </div>
    <div class="footer-section list">
      <h2>Links</h2>
      <ul>
        <li>
          <a routerLink="/home">Home</a>
        </li>
        <li>
          <a routerLink="/about">About us</a>
        </li>
        <li>
          <a routerLink="#">All</a>
        </li>
        <li>
          <a routerLink="/courses">Courses</a>
        </li>
      </ul>
    </div>
    <div class="footer-section contact-form">
      <h2>Contact us</h2><br>
      <form action="app.component.html" method="post">
        <input [(ngModel)]="review_email" type="email" name="email" class="text-input" placeholder="Your e-mail address...">
        <textarea [(ngModel)]="review_text" name="message" class="text-input" placeholder="Your message..."></textarea>
        <button (click)="addReview()" class="submit-btn">Send</button>
      </form>

    </div>
   
  </div>
</footer>

