.categories{
    display: flex;
    justify-content: space-evenly;
    padding-right: 15%;
}
.categories li{
    list-style: none;
    /* display: inline; */
}
a{
    color: black;
    text-decoration: none;
}