<body>

    <div *ngIf="!isItLogged()" class="login">
      <form>
        <div class="first-part">
          <input [(ngModel)]= "username" type="text" name="email-or-phone" required placeholder="Email or phone number" >
        </div>
    
        <div class="first-part">
          <input [(ngModel)]= "password" type="password" name="password" required placeholder="Password">
        </div>
    
        <div class="first-part">
          <a (click)="login()" routerLink="/home"><input type="submit" value="Login"></a>
        </div>
    
        <div id="forget-password">
          <a href="https://www.google.com/intl/ru/gmail/about/">Forget password?</a>
        </div>
    
        <div id="create-account">
          <a routerLink="/signUp">Create an account</a>
        </div>
      </form>
    </div>
    
    <div *ngIf="isItLogged()">
      <p>logged</p>
    </div>
    
</body>
    