<div class="main_part">
    <div class="left_part">
        <h1>StudGuide</h1>
        <h2>What is our goal?</h2>
        <p>We want to help all students find the best deals, promotions, and discounts.<br>
        This is a student news portal, where useful articles will be published not only about studying,<br>
        but also discounts, promotions, ads about entertainment, food, sports, etc.
        </p>
        <div class="icon-block">
            <div class="icons">
                <img id="icon-1" src="assets/icon1.png" alt="photo">
                <p>
                    Quick feedback
                </p>
            </div>
            <div class="icons">
                <img id="icon-2" src="assets/icon2.png" alt="photo">
                <p>
                    Reliable data
                </p>
            </div>
            <div class="icons">
                <img id="icon-3" src="assets/icon3.png" alt="photo">
                <p>
                    Easy to find
                </p>
            </div>
            <div class="icons">
                <img id="icon-4" src="assets/icon4.png" alt="photo">
                <p>
                    User friendly
                </p>
            </div>
        </div>
        <div class="map">
            <h2 id="map-text">Where you can find us?</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5811.613155933873!2d76.94219661853133!3d43.255475409301994!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38836e95db9d5077%3A0x826ad73ab97f6e5!2z0JrQsNC30LDRhdGB0YLQsNC90YHQutC-LdCR0YDQuNGC0LDQvdGB0LrQuNC5INCi0LXRhdC90LjRh9C10YHQutC40Lkg0KPQvdC40LLQtdGA0YHQuNGC0LXRgiwg0YPQu9C40YbQsCDQotC-0LvQtSDQkdC4IDU5LCDQkNC70LzQsNGC0YsgMDUwMDAw!5e0!3m2!1sru!2skz!4v1619001653228!5m2!1sru!2skz" width="450" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
    
    
</div>
