<body>

    <div class="main_content">
        <div class="left_side">
            <h1>Useful & Convenient</h1>
            <h1>website for Students</h1>
            <p>Read and share new ideas with us</p>
        
            <button><a routerLink = "/login">Get started</a></button>
        </div>
        
        <div class="right_side">
            <img id="first_photo" src="assets/1.jpeg" alt="photo">
            <img id="second_photo" src="assets/2.jpeg" alt="photo">
        </div>
    </div>

    <div class="items">
        <div class="items-content news">
            <h2><a routerLink="/news">News</a></h2>
            <div *ngFor="let n of news.slice(0,5)">
                <h4>{{n.title}}</h4>
                <h5><a class="read_btn" routerLink="/news">Read More</a></h5>
            </div>
        </div>
    
        <div class="items-content courses">
            <h2><a routerLink="/courses">Courses</a></h2>
            <div *ngFor="let c of courses.slice(0,5)">
                <h4>{{c.name}}</h4>
                <h5 style="font-weight: normal;">{{c.description}}</h5>
                <h5><a class="read_btn" routerLink="/courses">Read More</a></h5>
            </div>
        </div>
    
    </div>
    
    <div class="reviews">
        <h2>Reviews</h2>
        <div class="review_content" *ngFor="let r of reviews.slice(0,7)">
            <p >{{r.text}}</p>
            <p id="sender">{{r.sender}}</p>
        </div>
    </div>
</body>


