body{
    margin: 0;
    background-color: azure;
    height: 100%;
}
a{
    text-decoration: none;
}
.main_content{
    /* background-color: azure; */
    color: rgb(0,157,144);
}
.right_side{
    margin-top: 5%;
}
.right_side img{
    position: absolute;
    width: 25%;
}
#first_photo{
    top:30%;
    right: 25%;
}
#second_photo{
    top: 50%;
    right: 5%;
}
.left_side{
    padding: 10%;
}
.left_side h1{
    margin: 0;
    padding: 0;
    font-size: 50px;
    /* color: white; */
    /* color: rgb(255,81,0); */
}
.left_side p{
    /* color: rgb(255,81,0); */
    font-weight: bold;
}
.left_side button{
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    width: 15%;
    height: 50px;
    font-size: 20px;
    text-decoration: none;
}
.left_side button a{
    color: rgb(255,81,0);
}
.items{
    color: rgb(255, 81, 0);    
    font-size: 20px;
    width: 70%;
    min-height: 400px;
    margin-left: 3%;
    /* border: 1px solid darkorange; */
}
.items .items-content{
    padding: 10%;
    padding-top: 0;
}
.items a{
    color:rgb(0, 88, 81);
}
.items div a:hover{
    color: rgb(0, 0, 0);
}
.read_btn{
    margin-left: 90%;
}
.reviews{
    position: absolute;
    right: 3%;
    top: 100%;
    width: 20%;
    z-index: 1;
}
.review_content{
    margin: 4% 0;
    padding-top: 2%;
    padding-bottom: 1%;
    padding-left: 5%;
    display: block;
    background-color: rgb(255, 204, 180);
    border: 1px solid rgb(255, 204, 180);
    border-radius: 4px;
}
.reviews h2{
    color: rgb(255, 81, 0);
    padding-left: 5%;
}
.review_content #sender{
    font-weight: bold;
}
