body{
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
#left_side, #right_side{
    margin: 5% 2%;
}
#left_side{
    width: 100%;
}
#right_side{
    width: 50%;
    /* margin-left: 2%; */
}
